reel-generator-n8n/reel-generator.json
{
  "name": "reel generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        112
      ],
      "id": "ec0a1e79-c403-4dd8-a65d-e7d95280c49f",
      "name": "Webhook",
      "webhookId": "cf941e5c-c623-4a27-bd24-c08d6e66df74"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -672,
        320
      ],
      "id": "b14fbfa2-d7e1-4456-a1c1-170383bdd154",
      "name": "Ollama Llama 3.2",
      "credentials": {
        "ollamaApi": {
          "id": "6nqvxVbSRS783K7m",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==Topic: {{ $json.body.topic }}\n\nCreate a video script. You MUST return ONLY a JSON object with this exact structure:\n{\n  \"video_title\": \"A catchy title\",\n  \"scenes\": [\n    {\n      \"text\": \"The narration for the scene\",\n      \"searchTerms\": [\"term1\", \"term2\"]\n    }\n  ]\n}\n\nCRITICAL: Do not include the JSON schema. Do not include introductory text. Return only the JSON object.",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -672,
        112
      ],
      "id": "2c62785f-de11-49e5-8df2-feab03a9f993",
      "name": "Generate Scenes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://short-video-maker:3123/api/short-video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"scenes\": {{ JSON.stringify($json.output.scenes) }},\n  \"config\": {\n    \"paddingBack\": 1000\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        112
      ],
      "id": "92c89796-3ad0-4957-838c-765b31e631af",
      "name": "Start Video Generation"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "5f4234a5-6f3f-4d4c-9e72-cf7f21d3d116",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// This code finds the JSON inside the model's response \n// and fixes the \"empty result\" issue.\nconst rawText = items[0].json.text;\n\ntry {\n  // Find the first '{' and the last '}' to extract only the JSON\n  const jsonStart = rawText.indexOf('{');\n  const jsonEnd = rawText.lastIndexOf('}') + 1;\n  const jsonString = rawText.substring(jsonStart, jsonEnd);\n  \n  const parsed = JSON.parse(jsonString);\n  \n  return [{\n    json: {\n      output: parsed\n    }\n  }];\n} catch (e) {\n  // Fallback if parsing fails\n  throw new Error(\"Could not find valid JSON in model output: \" + rawText);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        112
      ],
      "id": "471d3975-89a8-4c4c-8b49-a10047208506",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Llama 3.2": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Scenes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Scenes": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Video Generation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Start Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b071cdc5-49c2-4b9b-96c2-18dd8cb60896",
  "meta": {
    "instanceId": "7d77f767067744c1730788266f54f967736f7357a5c24431e0d979b300cbbb94"
  },
  "id": "3JNx5zk_EmWpUDIFkpFWo",
  "tags": []
}